name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25
          elixir-version: 1.16
      - run: mix deps.get
      - uses: ankane/setup-postgres@v1
        with:
          database: pgvector_elixir_test
          dev-files: true
      - run: |
          cd /tmp
          git clone --branch v0.5.1 https://github.com/pgvector/pgvector.git
          cd pgvector
          make
          sudo make install
      - run: mix test
